body {
    background-color: pink;
    color: white;
    width: fit-content;
    margin-top: 0 auto;
    text-align: left;

}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 28px;
}

li {
    font-size: 24px; 
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none; 
}